Source: network-utilities
Section: admin
Priority: important
Maintainer: Stefan Bühler <stbuehler@web.de>
Build-Depends: cdbs, debhelper (>= 5), qt4-dev-tools, libqt4-dev, bison, flex, libnl-dev (>= 1.0~pre8), libiw-dev, dpatch
Standards-Version: 3.8.0

Package: nuts
Architecture: any
Depends: ${shlibs:Depends}, resolvconf
Recommends: wpasupplicant
Description: Network UTility (substitute for ifupdown)
 Manages your network cards; the server has an DBus Interface,
 which the clients use to control the server.
 .
 This package contains the server.

Package: qnut
Architecture: any
Depends: ${shlibs:Depends}
Description: Network UTility (substitute for ifupdown)
 Manages your network cards; the server has an DBus Interface,
 which the clients use to control the server.
 .
 This package contains the Qt client.

Package: cnut
Architecture: any
Depends: ${shlibs:Depends}
Description: Network UTility (substitute for ifupdown)
 Manages your network cards; the server has an DBus Interface,
 which the clients use to control the server.
 .
 This package contains the command line client.
