[Desktop Entry]
Categories=System;Network;
DocPath=
Encoding=UTF-8
Exec=qnut
GenericName=Qt NUT client
Icon=d3lphin
MimeType=inode/directory
Name=QNUT
Terminal=false
Type=Application
